In [41]:
import json
import time
import requests
import pandas as pd
import openweathermapy as owm
from config import *

In [13]:
city_file = open('city.list.json', encoding='utf8')
city_json = json.load(city_file)
#print(json.dumps(city_json, indent=3))

In [20]:
cc = 'ua'
cc_json = city_json[0]['country']

NameError: name 'upper' is not defined

In [21]:
if cc.upper() == cc_json:
    print('Yup')
else:
    print('nope')

Yup

In [22]:
print(cc.upper())

UA

In [23]:
print(cc)

ua

In [31]:
city = 'lodrino'
start_time = time.time()

for x in city_json:
    if x['name'] == city:
        print('Success')
        
print(time.time() - start_time)

0.033087730407714844

In [41]:
name = 'nothing'
country = 'na'
city_coord = ''

In [42]:
for x in city_json:
    if x['name'] == name.title() and x['country'] == country.upper():
        city_coord = (x['coord']['lat'], x['coord']['lon'])
print(city_coord)

In [46]:
dicter = {'a':1, 'b':2, 'c':3}
for key in dicter.items():
    print(key)

('a', 1)
('b', 2)
('c', 3)

In [49]:
test = ['a', 'b', 'c', 'd', 'e', 'f']
let = 'c'

if let not in test:
    test.append(let)
print(test)

['a', 'b', 'c', 'd', 'e', 'f']

In [8]:
settings = {'units': 'imperial', 'appid': api_key}
values = ['main.temp','main.humidity','clouds.all','wind.speed']

#current_weather = owm.get_current(5486795, **settings)
#summary = (current_weather(*values))

#summary

(54.77, 37, 1, 12.75)

In [45]:
print('Beginning Data Retrieval\n-------------------------')

Beginning Data Retrieval
-------------------------

In [47]:
cities_test = ('2644605','5277142','2077895','664539','1309937','472887','3177120','2339937','3175081','1791636','981827','5557293','3354540','6358344','4984075','648090','153352','1495586','1215498','5811696')

start_time = time.time()
counter = 1
data = []

print('---------------------------------\nBeginning Data Retrieval\n---------------------------------')
for city in cities_test:
    current_weather = owm.get_current(int(city), **settings)
    summary = (current_weather(*values))
    print(f'Processing record {"{0:>3s}".format(str(counter))} of {len(cities_test)} | {current_weather["name"]}, {current_weather["sys"]["country"]}')
    counter = counter + 1
    data.append(summary)
    time.sleep(1)
    
print('---------------------------------\nData Retrieval Complete\n---------------------------------')    
print(time.time() - start_time)

---------------------------------
Beginning Data Retrieval
---------------------------------
Processing record   1 of 20 | Lerwick, GB
Processing record   2 of 20 | Verona, US
Processing record   3 of 20 | Alice Springs, AU
Processing record   4 of 20 | Tufesti, RO
Processing record   5 of 20 | Maymyo, MM
Processing record   6 of 20 | Vokhma, RU
Processing record   7 of 20 | Feltre, IT
Processing record   8 of 20 | Gusau, NG
Processing record   9 of 20 | La Spezia, IT
Processing record  10 of 20 | Weinan, CN
Processing record  11 of 20 | Louis Trichardt, ZA
Processing record  12 of 20 | Sitka, US
Processing record  13 of 20 | Omaruru, NA
Processing record  14 of 20 | Fraga, ES
Processing record  15 of 20 | Alpena, US
Processing record  16 of 20 | Lieksa, FI
Processing record  17 of 20 | Mlowo, TZ
Processing record  18 of 20 | Parabel, RU
Processing record  19 of 20 | Bandar, ID
Processing record  20 of 20 | Spokane, US
---------------------------------
Data Retrieval Complete
---------------------------------
29.754059314727783

In [43]:
data2 = pd.DataFrame(data)
data2['Cities'] = cities_test
data2

        0    1   2      3   Cities
0   55.51   37   1  12.75  5486795
1   24.80   68  90  21.92  6944112
2   15.95   92   8   6.51  5961417
3   81.56   97  44  10.38  2136150
4   78.80   83  40   2.24  1309937
5   -8.26   59  36   2.48  2020311
6   36.95  100   0   3.36  3177120
7   49.34   85  44   2.77   359796
8   33.01  100   0   2.24  3175081
9   41.51   71   0   6.35    57289
10  50.56   84   0   3.38   981827
11  35.44   97  76   5.39   759320
12  52.81   43   0   2.82  3354540
13  28.73   78   0   3.49  6358344
14  36.81   93  90  18.37  4984075
15  32.29   79  12   9.86   648090
16  58.61   69   8   3.56   153352
17  68.74   78   0   8.63  2063036
18  77.33   94  44   2.33  1215498
19  36.32   60   1   4.70  5811696

In [15]:
cities_test = ('5486795','6944112','5961417','2136150','1309937','2020311','3177120','359796','3175081','57289','981827','759320','3354540','6358344','4984075','648090','153352','2063036','1215498','5811696')

url = "http://api.openweathermap.org/data/2.5/weather?"
query = url + 'appid=' + api_key + '&id='
start_time = time.time()
data = []

for city in cities_test:
    response = requests.get(query + city).json()
    data.append(response)
print(time.time() - start_time)

9.671760082244873

In [17]:
len(data)

20

In [22]:
one = '5486795'
current_weather = owm.get_current(int(one), **settings)
summary = (current_weather(*values))

print(summary)

(55.49, 37, 1, 12.75)

In [23]:
current_weather['name']

'Raton'

In [38]:
cities_test = range(9, 101)
counter = 9

for city in cities_test:
    print(f'Processing record {"{0:>3s}".format(str(counter))} of {len(cities_test)} | {city}')
    counter = counter + 1

Processing record   9 of 92 | 9
Processing record  10 of 92 | 10
Processing record  11 of 92 | 11
Processing record  12 of 92 | 12
Processing record  13 of 92 | 13
Processing record  14 of 92 | 14
Processing record  15 of 92 | 15
Processing record  16 of 92 | 16
Processing record  17 of 92 | 17
Processing record  18 of 92 | 18
Processing record  19 of 92 | 19
Processing record  20 of 92 | 20
Processing record  21 of 92 | 21
Processing record  22 of 92 | 22
Processing record  23 of 92 | 23
Processing record  24 of 92 | 24
Processing record  25 of 92 | 25
Processing record  26 of 92 | 26
Processing record  27 of 92 | 27
Processing record  28 of 92 | 28
Processing record  29 of 92 | 29
Processing record  30 of 92 | 30
Processing record  31 of 92 | 31
Processing record  32 of 92 | 32
Processing record  33 of 92 | 33
Processing record  34 of 92 | 34
Processing record  35 of 92 | 35
Processing record  36 of 92 | 36
Processing record  37 of 92 | 37
Processing record  38 of 92 | 38
Processing record  39 of 92 | 39
Processing record  40 of 92 | 40
Processing record  41 of 92 | 41
Processing record  42 of 92 | 42
Processing record  43 of 92 | 43
Processing record  44 of 92 | 44
Processing record  45 of 92 | 45
Processing record  46 of 92 | 46
Processing record  47 of 92 | 47
Processing record  48 of 92 | 48
Processing record  49 of 92 | 49
Processing record  50 of 92 | 50
Processing record  51 of 92 | 51
Processing record  52 of 92 | 52
Processing record  53 of 92 | 53
Processing record  54 of 92 | 54
Processing record  55 of 92 | 55
Processing record  56 of 92 | 56
Processing record  57 of 92 | 57
Processing record  58 of 92 | 58
Processing record  59 of 92 | 59
Processing record  60 of 92 | 60
Processing record  61 of 92 | 61
Processing record  62 of 92 | 62
Processing record  63 of 92 | 63
Processing record  64 of 92 | 64
Processing record  65 of 92 | 65
Processing record  66 of 92 | 66
Processing record  67 of 92 | 67
Processing record  68 of 92 | 68
Processing record  69 of 92 | 69
Processing record  70 of 92 | 70
Processing record  71 of 92 | 71
Processing record  72 of 92 | 72
Processing record  73 of 92 | 73
Processing record  74 of 92 | 74
Processing record  75 of 92 | 75
Processing record  76 of 92 | 76
Processing record  77 of 92 | 77
Processing record  78 of 92 | 78
Processing record  79 of 92 | 79
Processing record  80 of 92 | 80
Processing record  81 of 92 | 81
Processing record  82 of 92 | 82
Processing record  83 of 92 | 83
Processing record  84 of 92 | 84
Processing record  85 of 92 | 85
Processing record  86 of 92 | 86
Processing record  87 of 92 | 87
Processing record  88 of 92 | 88
Processing record  89 of 92 | 89
Processing record  90 of 92 | 90
Processing record  91 of 92 | 91
Processing record  92 of 92 | 92
Processing record  93 of 92 | 93
Processing record  94 of 92 | 94
Processing record  95 of 92 | 95
Processing record  96 of 92 | 96
Processing record  97 of 92 | 97
Processing record  98 of 92 | 98
Processing record  99 of 92 | 99
Processing record 100 of 92 | 100